#== Python Scraper ==#
python-scraper/venv/
.vscode/
python-scraper/site/*.json
**/__pycache__/**

# Generated
python-scraper/site/index.html
python-scraper/site/script.js


#== Perl Mojo ==#
perl-mojo/local/
perl-mojo/src/hypnotoad.pid
perl-mojo/src/log/

